@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.body {
  min-height: 100vh;
}

.maven {
  font-family: 'Maven Pro', sans-serif;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav p,
nav a {
  color: #777;
  font-weight: 300;
}

footer {
  background: linear-gradient(180deg, #F44226 0%, rgba(244, 66, 38, 0.17) 100%), linear-gradient(176deg, rgba(254, 179, 54, 0.37) 122.23%, #FEB336 122.23%);
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}

/* index styles */
/* details styles */
/* create styles */
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-blog label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }

  100% {
    transform: translateX(0px);
  }
}
